@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* utils */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  color: #333;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  transform: scale(0.9);
}

.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}

.text-center {
  text-align: center;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* alert */
.alert {
  background-color: var(--light-color);
  padding: 10px 20px;
  font-weight: bold;
  margin: 15px 0;
}

.alert i {
  margin-right: 10px;
}

.alert-success {
  background-color: var(--success-color);
  color: #fff;
}

/* margin  */
.mt-1 {
  margin: 1rem 0 0;
}
.mt-2 {
  margin: 1.5rem 0 0;
}
.mt-3 {
  margin: 2rem 0 0;
}
.mt-4 {
  margin: 3rem 0 0;
}
.mt-5 {
  margin: 4rem 0 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 3rem 0;
}
.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 1.5rem;
}
.m-3 {
  margin: 2rem;
}
.m-4 {
  margin: 3rem;
}
.m-5 {
  margin: 4rem;
}

/* padding */

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 1.5rem 0;
}
.py-3 {
  padding: 2rem 0;
}
.py-4 {
  padding: 3rem 0;
}
.py-5 {
  padding: 4rem 0;
}

/* backgrounds and color buttons */
.bg-primary,
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-secondary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}
.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: #333;
}

/* text colors */

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-dark {
  color: #fff;
}
.text-light {
  color: #333;
}

.img-fluid {
  border-radius: 5px;
}

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --danger-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", "Courier New", Courier, monospace;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;

  padding: 0 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.navbar-menu {
  align-self: center;
  justify-self: end;
  display: grid;
}

.navbar-menu-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  transition: all 0.5s;
}

.navbar a:hover {
  border-bottom: solid 2px #fff;
}

.showcase-form {
  width: 500px;
  margin: 20px auto;
}
.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"],
.showcase-form input[type="password"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  padding: 3px;
  font-size: 16px;
  width: 100%;
}

.showcase-form input:focus {
  outline: none;
}

.showcase-text {
  animation: slideinFromLeft 1s ease-in;
}

.showcase-form {
  animation: slideinFromRight 1s ease-in;
}
