
 <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiler</title>
   
    <link rel="stylesheet" href="/css/style.css" />
    <title>Profiler</title>
  
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="container wrapper">
          <h1 class="logo">Profiler.</h1>
          <nav class="navbar-menu">
            <ul class="navbar-menu-item">
             <li>
                <a href="/">Profiles</a>
              </li>
              <li>
                <a href="/register">Register</a>
              </li>
              <li>
                <a href="/login">Login</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- register form -->
      <div class="container">
          {% for person in data %}
            <div class="showcase-form card">
            <h2>{{person.firstname}} {{person.lastname}}</h2>
            <h4>{{person.email}}</h4>
            <a href="users/{{person.id}}" class="btn mt-2">View</a>
          </div>
          {%  endfor %}
      </div>
</body>
</html>